h1 {
  padding: 10px;
  background-color: #252529;
  color: #37E2D5;
  border: 1px solid #37E2D5;
  border-radius: 20px;
}


#app {
  min-height: 100dvh;
  font-family: 'Dosis', sans-serif;
  color: #37E2D5;
  background-color: #1A1A1A;
}

.btn.btn-primary.mx-3 {
  border-radius: 10px;
  border: none;
  background-color: #590696;
  color: #37E2D5;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn.btn-save.mx-2:hover,
.btn.btn-trash.mx-2:hover,
.btn.btn-primary.mx-3:hover,
.btn .btn-primary.mx-3:focus {
  filter: brightness(120%);
  border: none;
}

.columns-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.entry-list-container {
  padding-top: 10px;
  background-color: #252529;
  border: none !important;
  border-radius: 10px;
  &:hover {
    border: 1px solid #37E2D5 !important;
  }
}

li {
  margin-bottom: 5px;
}

.navbar.bg-primary {
  display: flex;
  justify-content: center;
  background-color: #590696 !important;
}

.navbar-brand.text-white {
  font-weight: bold;
  color: #37E2D5 !important;
}

.entry-scrollarea {
  padding: 8px;
}

.form-wrapper {
  padding: 15px;
  border-radius: 25px;
  background-color: #252529;
  &:hover {
    border: 1px solid #37E2D5 !important;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  color: #979FAD;
  background-color: #1A1A1A;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input:focus {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #37E2D5 !important;;
}

label {
  margin: 10px;
  padding-top: 2px;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss'