h1 {
  padding: 10px;
  background-color: #252529;
  color: #37E2D5;
  border: 1px solid #37E2D5;
  border-radius: 20px;
}


#app {
  min-height: 100dvh;
  font-family: 'Dosis', sans-serif;
  color: #37E2D5;
  background-color: #1A1A1A;
}

.btn.btn-primary.mx-3 {
  border-radius: 10px;
  border: none;
  background-color: #590696;
  color: #37E2D5;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn.btn-save.mx-2:hover,
.btn.btn-trash.mx-2:hover,
.btn.btn-primary.mx-3:hover,
.btn .btn-primary.mx-3:focus {
  filter: brightness(120%);
  border: none;
}

.columns-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.entry-list-container {
  padding-top: 10px;
  background-color: #252529;
  border: none !important;
  border-radius: 10px;
  &:hover {
    border: 1px solid #37E2D5 !important;
  }
}

li {
  margin-bottom: 5px;
}

.navbar.bg-primary {
  display: flex;
  justify-content: center;
  background-color: #590696 !important;
}

.navbar-brand.text-white {
  font-weight: bold;
  color: #37E2D5 !important;
}

.entry-scrollarea {
  padding: 8px;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss'