$theme-colors: (
  "primary": #2c3e50,
  "secondary": #1d6042,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);

h1 {
  padding: 10px;
  background-color: #C70A80;
  color: #FBCB0A;
  border-radius: 20px;
  text-shadow: #dc3545;

}


#app {
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  color: #C70A80;
  background-color: #FBCB0A;
}

.btn.btn-primary.mx-3 {
  border-radius: 20px;
  background-color: #590696;
  color: #37e2d5;
}

.columns-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

.entry-list-container {
  padding-top: 10px;
  background-color: #fcd94b;
  border: none !important;
  border-radius: 15px;

}

.navbar.bg-primary {

  background-color: #C70A80 !important;

}

.navbar-brand.text-white {

  color: #FBCB0A !important;


}

input {

  border-radius: 5px;
  border: thin solid #C70A80;
}

input:focus {
  background-color: #fcd94b;
  color: #C70A80;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

label {
  padding-top: 2px;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss'